*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body
#root{
  height: 100%;
  width: 100%;
  background-color: rgb(71, 68, 68);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.note{
  width: 30rem;
  height: 100px;
  background-color: rgb(113, 119, 119);
  padding: 10px 10px;
  margin: 10px 10px;
  color: rgb(228, 217, 217);
}
.notes{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

